
<% flash.each do |type, msg| %>
  <div class="alert alert-danger text-center">
    <%= msg %>
  </div>
<% end %>
  
  <div class="text-center my-4">
    <h1 class="bubble-bit-font">Book your flight</h1>
  </div> 

<div class="card d-flex flex-column mx-auto mt-2" style="width: 57rem">
  <div class="card-body mx-auto">
    <%= render "short_flight_info"%>
    <%= render "nested_booking_passenger_form"%>
  </div>
</div>
