
<% flash.each do |type, msg| %>
  <div class="alert alert-success text-center">
    <%= msg %>
  </div>
<% end %>

<div class="text-center my-4">
  <h1 class="bubble-bit-font">Your Flight</h1>
</div>

<div class="card d-flex flex-column mx-auto mt-2" style="width: 53rem">
  <div class="card-body mx-auto">
    <%= render "full_flight_info" %>
    <h2 class="text-center bubble-bit-font">Passenger Info</h2>
    <%= render "passenger_info" %>
  </div>
</div>
